<div class="container-fluid">
  <nav class="navbar navbar-nav navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-4 mt-lg-2 main-menu" id="navbarSupportedContent">
        <a class="navbar-brand " href="#">Shivoham</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ps-0 ps-lg-5 mt-4 mt-lg-0 ms-0 ms-lg-4" >
            <a class="nav-link ps-lg-6" id="home" href="#" >Home</a>

          </li>
          <li class="nav-item ps-0 ps-lg-5 pb-0 pb-lg-4" id="products" (mouseover)="mouseOverLink($event)" (mouseleave)="mouseLeaveLink($event)">
            <a class="nav-link" aria-current="page" href="#" id="products-anchor" (mouseover)="mouseOverLink($event)" (mouseleave)="mouseLeaveLink($event)">Products</a>
            <div class="nav-dropdown d-none d-lg-inline-block bg-light" id="nav_dropdown" *ngIf="true">
              <div class="row trending-product-dropdown">
                <div class="col-3 bg-dark">
                  <div class="show-all-products mt-5">
                    <a href="#" class="text-decoration-none text-white position-relative">
                      <h6>Show all Products</h6>
                      <fa-icon class="chevron-down fs-3 position-absolute top-100 start-50 translate-middle mt-5" [icon]="['fas', 'chevron-down']"></fa-icon>
                    </a>

                  </div>
                </div>
                <div class="col-9">
                  <div class="row">
                    <div class="col-12"><h3 class="bg-dark">Trending Products</h3></div>
                  </div>
                  <div class="row row-cols-2 g-2 p-1">
                    <div class="col-6"><img src="../../assets/artist-banner.jpg" width="100%" height="100%" alt=""/></div>
                    <div class="col-6"><img src="../../assets/artist-banner.jpg" width="100%" height="100%" alt=""/></div>
                    <div class="col-6"><img src="../../assets/artist-banner.jpg" width="100%" height="100%" alt=""/></div>
                    <div class="col-6"><img src="../../assets/artist-banner.jpg" width="100%" height="100%" alt=""/></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item ps-0 ps-lg-5" >
            <a class="nav-link" id="posts" href="#" >Contact</a>
          </li>
          <li class="nav-item ps-0 ps-lg-5" >
            <a class="nav-link" id="posts" href="#" >About</a>
          </li>
          <li>
            <div class="icons d-none d-lg-inline-block">
              <div class="user-icon-cover">
                <fa-icon class="user-icon" [icon]="['far', 'user']"></fa-icon>
                <div class="user-icon-dropdown-content">
                  <a href="#" *ngIf="!authStatus">Login</a>
                  <a href="#" *ngIf="!authStatus">Signup</a>
                  <a href="#" *ngIf="authStatus">My Profile</a>
                </div>
              </div>

              <fa-icon [icon]="['fas', 'play']" data-toggle="tooltip" title="My Playlist"></fa-icon>
            </div>
          </li>
          <li class="nav-item ps-0 ps-lg-4 d-inline-block d-lg-none" >
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item ps-0 ps-lg-4 d-inline-block d-lg-none" >
            <a class="nav-link" href="#">SignUp</a>
          </li>
        </ul>

      </div>

    </div>

  </nav>
</div>

