<!--<div class="row sticky-top ">
  <div class="col-12 p-0 sticky-top">-->
    <div class="container-fluid sticky-top p-0">
      <nav class="navbar navbar-nav navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h3 data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">Shivoham</h3>
          <div class="collapse navbar-collapse mt-4 mt-lg-2 main-menu bg-light" id="navbarSupportedContent">
            <a class="navbar-brand " href="#">Shivoham</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-4">
              <li class="nav-item ps-0 ps-lg-5 mt-4 mt-lg-0 ms-0 ms-lg-4" >
                <a class="nav-link ps-lg-6" id="home" routerLink="/" >Home</a>

              </li>
              <li class="nav-item ms-0 ms-lg-5" id="products">
                <a class="nav-link" aria-current="page" href="#product-type-list" id="products-anchor">Products</a>
                <div class="nav-dropdown d-none d-lg-inline-block bg-light" id="nav_dropdown">
                  <div class="row trending-product-dropdown">
                    <div class="col-3 bg-dark">
                      <div class="show-all-products mt-5">
                        <a href="#product-type-list" class="text-decoration-none text-white position-relative">
                          <h6>Show all Products</h6>
                          <fa-icon class="chevron-down fs-3 position-absolute top-100 start-50 translate-middle mt-5" [icon]="['fas', 'chevron-down']"></fa-icon>
                        </a>

                      </div>
                    </div>
                    <div class="col-9">
                      <div class="row">
                        <div class="col-12"><h3 class="bg-dark">Trending Products</h3></div>
                      </div>
                      <div class="row row-cols-2 g-2 p-1">
                        <div class="col-6"><img src="../../assets/keyboard.jpg" width="100%" height="100%" alt=""/></div>
                        <div class="col-6"><img src="../../assets/motherboard.jpg" width="100%" height="100%" alt=""/></div>
                        <div class="col-6"><img src="../../assets/mouse.jpg" width="100%" height="100%" alt=""/></div>
                        <div class="col-6"><img src="../../assets/monitor.png" width="100%" height="100%" alt=""/></div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item ps-0 ps-lg-5" >
                <a class="nav-link" id="posts" (click)="navContactClicked()" >Contact</a>
              </li>
              <li class="nav-item ps-0 ps-lg-5" >
                <a class="nav-link" id="posts" routerLink="/about" >About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  <!--</div>
</div>-->


