.footer{
  height: 80px;
  width: 100%;
}

.footer h6{
  font-size: 3vw;
}

.footer a{
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.footer a:hover{
  color: #34c1bb;
}


/*Media Queries*/

@media (min-width: 576px) { }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .footer h6{
    font-size: 1vw;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
