<div class="row">
  <div class="col-12 p-0 mt-5 bg-light footer">
    <div class="row row-cols-3">
      <div class="col-4 text-center mt-4">
        <a href="#">
          <fa-icon class="instagram fs-5" [icon]="['fab', 'instagram']"></fa-icon>
          <h6>Insta-page</h6>
        </a>
      </div>
      <div class="col-4 text-center mt-4">
        <a href="#">
          <fa-icon class="facebook-f fs-5" [icon]="['fab', 'facebook-f']"></fa-icon>
          <h6>Facebook-page</h6>
        </a>
      </div>
      <div class="col-4 text-center mt-4">
        <a href="tel:9326890760">
          <fa-icon class="phone fs-5" [icon]="['fas', 'phone']"></fa-icon>
          <h6>9326890760</h6>
        </a>
      </div>
    </div>
  </div>
</div>
