<app-stage-teaser [stageInfo]="this.stageInfo"></app-stage-teaser>
<div class="row mt-5">
  <div class="col-12">
    <div class="container">
      <div class="company-history">
        <div class="company-hist-header">
          <h3 class="mb-1">Shivoham Enterprises</h3>
          <p>If You Don't Succeed at First, Call it Version 1.0</p>
        </div>
        <div class="company-hist-body mt-3 mt-md-4">
          <p>
            We are one of the leading retail suppliers of all types of laptops,
            computers, printers and all its peripherals, since 2008. We are committed to prompt
            supplies with best quality and prompt services. The company was established by K.
            V. Rameshan Nair in 2008 with sole intention and aim to be in the market as a
            quality branded supplier and named the organisation as Shiva Shakthi Electrical
            Stampings understanding the then demand for power press metal cutting products in
            the machinery and transformer manufacturing industry also. Earlier the company
            was known as Shivam Electricals supplying all computer related products, servicing
            and repairing.
          </p>
          <p>
            SHIVOHAM ENTERPRISES is a family owned business with its branches in Maharashtra
            at Mumbai and Pune. It also has a distribution in Kerala at Kannur.
          </p>
          <p>
            Shiva Shakthi Electrical Stampings is a company which deals
            with power press machines in which E & I , CRGO and CRNO and
            various other types of metal sheets are cut and delivered to
            various companies. These E & I sheets are used in making of
            transformer parts largely. There are various other uses of these
            sheets with respect to the mass production of machineries.
          </p>
          <p>
            During mid 2020 the company could experience the manufacturing and market
            requirement and increasing demand of online supplies. It was then that the planning
            of two different units with its own identity came into existence. By the beginning of
            2021 Mr. K. V. Rameshan Nair formed a new venture with his family owned business
            in its synonymous name. SHIVOHAM ENTERPRISES was registered in the name of his
            wife as proprietor of the company to continue its computer related business.
          </p>
        </div>
        <div class="company-hist-footer">
          <h3 class="mb-1">Email</h3>
          <p>shree@shivohameps.com</p>
        </div>
      </div>
    </div>

  </div>
</div>
