<div class="row" id="product-type-list">
  <div class="col-12 p-0">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h3>Product Types</h3>
        </div>
      </div>
      <div class="row row-cols-2 row-cols-sm-2  row-cols-md-3 g-4 mt-2">
        <div class="col" *ngFor="let product_type of product_types">
          <div class="card text-center text-light" style="width: 100%;" (click)="product_type_clicked($event)">
            <div class="product-type-overlay" id={{product_type.type}}></div>
            <img [src]="product_type.image" [alt]="product_type.type" class="card-img-top">
            <div class="card-body bg-dark">
              <p class="card-text">{{product_type.type}}</p>
            </div>
            <div class="product-overlay bg-dark"></div>
          </div>
        </div>
      </div>
      <mat-paginator [length]="totalPosts"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChanged($event)">
                *ngIf="product_type.length>0"
      </mat-paginator>
    </div>
  </div>
</div>



